*{margin: 0;
padding: 0;
box-sizing: border-box;}
/*paleta de colores
body
background-color: hsl(0, 100%, 96%);
header
background-color: #f8bbd0; /* rosa clarito */ 
/*color-header #880e4f; /* rosa oscuro */ 

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 100%, 96%);
  color: #333;
  line-height: 1.6;
}
/*header*/
.imglogo{
  width: 400px;
}
.minav{
   background-color: #f597bd; /* rosa clarito */
  color: #880e4f; /* rosa oscuro */
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 20px 10px;
}
.nav-link{ 
  color:beige;
}
.navbar .nav-link.active,.nav-link:hover, .navbar-toggler-border-color{
  color: #880e4f;
} 
/*fin header*/


/*------Home-------*/
/*main*/
.banner { 
  padding: 90px 190px 300px 180px;  
  text-align: start;

  background-image: url(../img/banner1.JPG); 
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 8px rgb(255, 255, 255);
}
.textoBanner{
    font-size: 2rem;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}
.esloganBanner{
    font-size: 5rem;
    text-shadow: 1px 1px 4px rgb(255, 255, 255);
}

.tituloBanner{
    font-size: 3rem;
}

/*---home servicios--*/
.bella{
  background-image: url(../img/backg_lis.jpg);
  background-position: center;
  background-size: cover;
  padding: 150px 100px 200px 150px;
  
}
.bella h2{
  padding: 20px 0px 20px 0px;
}
.porque{
  background-color: bisque ;
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
}
.porque div{
  margin: 20px;
  text-align: start;
}

.tarjetas{
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
}
.tarjetas div {
  background-color: bisque;
  box-shadow: 0px 2px 2px 2px #9c828b;
  padding: 20px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*----locales----*/
.locales{
  display: grid;
  grid-template-areas: 
  "titulolocal titulolocal titulolocal"
  "textolocal textolocal textolocal"
  "tarjeta1 tarjeta2 tarjeta3"
  "tarjetas4 tarjetas5 .";
  justify-content: space-evenly;
  align-items: center;
  margin: 50px;
}
.titulolocal{
  grid-area: titulolocal;
  padding: 10px;
}
.textolocal{
  grid-area: textolocal;
  padding: 5px;
}
.tarjeta1{
  grid-area: tarjetas1;
}
.tarjeta2{
  grid-area: tarjetas2;
}
.tarjeta3{
  grid-area: tarjetas3;
}
.tarjetas4{
  grid-area: tarjetas4;
}
.tarjetas5{
  grid-area: tarjetas5;
}

.locales div {
  background-color: pink;
  border-radius: 10px;
  padding: 100px;
  margin: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 2px 2px 2px #9c828b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section img {
  width: 60px;

}

div button{
  background-color: #ec8bad;
  border-radius: 4px;
  width: 100px;
  height: 40px;
}

.carruselimg{
  width: 700px;
}

/*fin main*/


/*-----Servicios-----*/
.servicio{
  margin: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px repeat(3,400px);
  grid-template-areas:
  "titulo titulo titulo"
  "eslogan eslogan eslogan"
  "block1 block2 block3"
  "block4 block5 block6"
  "block7 block8 block8";
  justify-content: center;
  justify-items: center;
  align-items:start;
  gap: 20px;
}
.servicio img{
  width: 400px;
}
.titulo_ser{
  grid-area: titulo;
}
.texto_ser{
  grid-area: eslogan;
}
.block1{
  grid-area: block1;
}
.block1 img{width: 300px;}
.block2{
  grid-area: block2;
}
.block3{
  grid-area: block3;
}
.block4{
  grid-area: block4;
}
.block5{
  grid-area: block5;
}
.block6{
  grid-area: block6;
}
.block7{
  grid-area: block7;
}
.block8{
  grid-area: block8;

}
.block8 div{
  display: flex;
  flex-direction: row;
  align-content: start;
}

.comentgoogle{
  background-color:#ec8bad;
  width: 1520px;
  height: 400px;
}


/*-----Promociones-----*/
.bannerpromo {  
  background: linear-gradient(to right, #ffe4ec, #f9f0ff);
  background-image: url(../img/bannerpromo1.jpg) ;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  padding: 250px;
  text-align: center;
}

.bannerpromo h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  color: #d63384;
}

section {
  padding: 50px;
  text-align: center;
}
.giftcard img{
  width: 400px;
}
.promoamigue{
  margin: 50px;
}
.promoamigue img{
  width: 400px;
}
.boton {
  display: inline-block;
  background-color: #d63384;
  color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-decoration: none;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: #ad2669;
}

/*-----Nosotras-----*/

.historia {
  display: grid;
  grid-template-areas: 
  "historia historia"
  "texto1 img_fund";
  grid-column: 1fr 1fr;
  grid-row: 50px 200px;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  margin: 50px;
  gap: 50px;
}
.titulo_his {
  grid-area: historia;
}
.texto_his {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  grid-area: texto1;
}
.img_his {
  grid-area: img_fund;
  width: 400px;
}
.profesionales{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: 20px;
  padding: 20px;
  
}
.profesionales img {
  width: 250px;
}
/*-----Contacto-----*/
.titulo_contacto{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 4rem;
  color: #880e4f;
  padding: 200px;
}
.form_map ul{
  list-style: none;
  padding: 20px;
}
.form_map{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}
/*footer*/
footer {
  display: flex;
  flex-direction: column;
  background-color: #f8bbd0;
  color: #880e4f;
  padding: 30px;
}

footer img {
  width: 25px;
  margin: 10px;
}
/*fin footer*/