/*------Home-------*/
/*main*/
/* 
Titulo banner #f597bd
sombra 1px 3px 3px #880E4F;
texto banner #f5f5f5;
sombra 1px 1px 8px rgb(50, 49, 49);
Titulo #880e4f
texto #ea5086;
Fondo cards rgba(255, 228, 196, 0.636);
Texto boton #f5f5f5;
Fondo boton #ec8bad;
hover #ea5086;
Sombra oscura 1px 1px 8px rgb(50, 49, 49);
Sombra clara 3px 3px 10px #fffcffac;
*/
.banner
{ 
    .textobanner
   {    color: #F5F5F5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-shadow: 1px 1px 8px rgb(50, 49, 49);
        padding: 90px 190px 150px 180px;  
        text-align: start;
        z-index: 1;
        h1
        {
            font-size: 3rem;
        }
        h2
        {   color:  #f597bd;
            font-size: 5rem;
            text-shadow: 1px 3px 3px #880E4F;
        }
        p
        {
            font-size: 2rem;
            text-shadow: 1px 1px 4px rgb(50, 49, 49);
        } 
    }
    &::before
    {   content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url(../img/banner1.JPG);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px);
  
    }
}
.bella
{   
    background-color: rgba(255, 228, 196, 0.636);
    margin: 150px 100px 150px 150px;
    border-radius: 10px;
    
    h3{ font-family: Verdana, Geneva, Tahoma, sans-serif; 
        font-size: 2.5rem;
        color:#880e4f ;
        padding: 20px 0px 20px 0px;

    }

    h4
    {   font-size: 1.5rem;
        color:#880e4f ;
        padding: 20px 0px 20px 0px;

    }

    .porque
    {   color: #ea5086;
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 0px;
        div
        {
            margin: 10px;
            text-align: start;
        }
    
    }
    .tarjetas
    {   display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        align-items: center;
            div
            {   color: #ea5086;
                width: 250px;
                height: 200px;
                background-color: rgba(255, 228, 196, 0.636);
                box-shadow: 0px 2px 5px 2px #9c828b;
                padding: 10px;
                margin: 5px;
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                img{
                    width: 100px;
                }
            }
    }
}
/*---home servicios--*/
.boxlocales{
    background-image: url(../img/backg_lis.jpg);
    background-position: center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-color: hsla(0, 100%, 96%, 0.395);
    background-blend-mode:overlay;
.locales
{  
  display: grid;
  grid-template-areas: 
  "titulolocal titulolocal titulolocal"
  "textolocal textolocal textolocal"
  "tarjeta1 tarjeta2 tarjeta3"
  "tarjetas4 tarjetas5 .";
  justify-content: space-around;
  align-items: center;
  
    .titulolocal
    {   grid-area: titulolocal;
        color: #880e4f;
        font-size: 2rem;
        text-shadow: 1px 3px 3px #fffcffac;
        padding: 10px;
    }
    .textolocal
    {   grid-area: textolocal;
        font-size: 4rem;
        color: #d20a89;
        text-shadow: 2px 2px 8px rgb(42, 41, 41), 3px 3px 10px #fffcffac;
        padding: 50px;
    }
    div
    {   color: #d20a89;
        background-color: pink;
        border-radius: 10px;
        padding: 80px;
        margin: 30px;
        width: 300px;
        height: 300px;
        box-shadow: 2px 2px 10px #eacfd9b1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.4s;
            .tarjeta1
            {   grid-area: tarjetas1;
            }
            .tarjeta2
            {   grid-area: tarjetas2;
            }
            .tarjeta3
            {   grid-area: tarjetas3;
            }
            .tarjetas4
            {    grid-area: tarjetas4;
            }
            .tarjetas5
            {   grid-area: tarjetas5;
            }
            button
            {   color: #F5F5F5;
                background-color: #ec8bad; 
                font-family:'Poppins', sans-serif;
                font-size: 1em;
                border-radius: 4px;
                border-color:#ec8bad;
                padding: 10px;
                margin-bottom: 30px;
                box-shadow: 0px  2px 5px #880e4f ;
                &:hover{
                    background-color: #ea5086;
                }
            }
         img 
        {
            width: 80px;
            padding: 15px;
        }
        &:hover {
            transform: translateY(-10px);
        }    
    }  
}    
}
.texto_carrusel
{   display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: start;
    .texto_locales{
    background-color: rgba(255, 228, 196, 0.636);
    border-radius: 15px;
    box-shadow: 2px 2px 4px #2e2e2ebf;
    h3
    { 
    color: #D20A89;
    font-size: 2em;
    align-items: center;
    }
    p
    {
    color:#ea5086 ;
    font-size: 1rem;
    margin: 15px;
    }
    }
.carrusel_fotos
    {   border-radius: 10px;
        width: 2500px;
    }

}   

