/* 
Titulo banner #f597bd
sombra 1px 3px 3px #880E4F;
texto banner #F5F5F5;
sombra 1px 1px 8px rgb(50, 49, 49);
Titulo #880e4f
texto #ea5086;
Fondo cards rgba(255, 228, 196, 0.636);
Texto boton #F5F5F5;
Fondo boton #ec8bad;
hover #ea5086;
Sombra oscura 1px 1px 8px rgb(50, 49, 49);
Sombra clara 3px 3px 10px #fffcffac;
*/

.banner_servicios
{    font-family: Verdana, Geneva, Tahoma, sans-serif;
    h1{
         color: #880e4f;
            text-shadow: 1px 3px 2px #f597bd;
            font-size: 3.5em;
    }
    p{  
        color: #f597bd;
        padding: 20px 50px 0px 50px;
        text-shadow:  1px 1px 3px rgb(48, 44, 44);
            font-size: 2em;
    }
    background-image: url(../img/banner_servicios.jpg);
    background-color:rgba(245, 245, 220, 0.266);
    background-blend-mode: overlay;
    background-attachment:fixed ;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 200px 10px 200px 10px;
}
.servicio{
  margin-bottom: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3,450px);
  grid-template-areas:
  "block1 block2 block3"
  "block4 block5 block6"
  "block7 block8 block9";
  justify-content: center;
  justify-items: center;
  align-items:start;
  gap: 20px;
  row-gap: 150px;
  text-align: start;

  div
  {     
        margin: 20px; 
        background-color:rgba(255, 228, 196, 0.636) ;
        padding-bottom: 30px;
        border-radius: 10px;
        box-shadow: 0px  2px 10px  #fffcff;
   
        h2{ padding-top: 20px;
            margin: 15px;
            color: #880e4f ;
            font-size: 1.8em; 
            font-weight: 600; 
        }
        p{  color: #ea5086;
            font-size: 1.1rem;
            margin: 15px;
            padding-bottom: 10px;}
        a{
            color: #F5F5F5;
            background-color: #ec8bad;
            border: #ec8bad;
            border-radius: 4px;
            padding: 10px;
            margin: 15px;
            text-decoration: none;
            box-shadow: 0px  2px 5px #880e4f ;
            &:hover{
            color: #F5F5F5;
            background-color: #ea5086;
            
        }
        
        }
        img
        {
            width: 450px;
            border-radius: 5px;
            box-shadow: 0px  3px 5px rgb(50, 49, 49);
        }
        .block1 {
           grid-area: block1;
       
          }
        .block2
        {
            grid-area: block2;
        }
        .block3
        {
             grid-area: block3;
        }
        .block4
        {
            grid-area: block4;
        }
        .block5
        {
            grid-area: block5;
        }
        .block6
        {
            grid-area: block6;
        }
        .block7
        {
            grid-area: block7;
        }
        .block8
        {
            grid-area: block8;
        }
        .block9
        {
            grid-area: block9;
            }
    }
}


.comentgoogle{
  background-color:#ec8bad;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  h2{
    color: #880e4f;
  font-weight: 600;
    margin-bottom: 50px;
    
    }

  
  .img-carru{
   width: 500px;
   box-shadow: 5px 5px 15px #880e4f, 8px 8px 50px white;
    
  }
}